<ion-header>
  <ion-toolbar>
    <ion-title>file-opener</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="downloadFile()">open text</ion-button>
  <ion-button (click)="openImg()">open image</ion-button>
  <ion-button (click)="openPdf()">open pdf</ion-button>
  <ion-button (click)="openPdf2()">open pdf2</ion-button>
  <ion-button (click)="openPdf3()">open pdf3</ion-button>
  <ion-button (click)="openVideo()">open video</ion-button>
  <ion-button (click)="openPdfWithLocal()">open pdf with local</ion-button>
  <ion-button (click)="openImgWithLocal2()">open Img With Local2</ion-button>
  
  <!-- <div>{{listData}}</div> -->
  <!-- <div class="content">
    {{content}}
  </div> -->
</ion-content>
